In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Load the dataset into a pandas DataFrame
df = pd.read_csv('Data.csv')
df

,tweet_id,text,hashtags,user_id,user_name,user_followers,user_location,user_age,retweets,likes,replies,created_at
0,1432393529610908677,Just finished reading the new Harry Potter boo...,"HarryPotter,books",111111111,EmilyJohnson,8000,New York,NY,30,20,200,2021-09-08T08:00:00Z
1,1432382158217831425,Just tried the new restaurant in town and it w...,"foodie,restaurant",222222222,JohnDoe,6000,San Francisco,CA,35,5,50,2021-09-07T18:00:00Z
2,1432370087338275846,Just watched the new documentary about climate...,"climatechange,documentary",333333333,JaneDoe,4000,Seattle,WA,45,15,100,2021-09-06T12:00:00Z
3,1432357974648150530,Just saw the new movie and it was amazing! The...,"movies,entertainment",444444444,BobSmith,10000,Los Angeles,CA,40,50,500,2021-09-05T16:00:00Z
4,1432345806442166274,Just finished my morning run and it was great!...,"fitness,running",555555555,SaraJohnson,2000,Chicago,IL,25,10,100,2021-09-04T08:00:00Z
5,1432333712187568640,Just visited the new art exhibit and it was fa...,"art,exhibit",666666666,DavidLee,3000,New York,NY,28,8,80,2021-09-03T14:00:00Z
6,1432321492562703873,Just finished my first cooking class and it wa...,"cooking,class",777777777,ChrisBrown,5000,Houston,TX,32,12,120,2021-09-02T19:00:00Z
7,1432309380679255554,Just went to the new park and it was beautiful...,"park,nature",888888888,OliviaSmith,7000,Miami,FL,27,18,180,2021-09-01T11:00:00Z
8,1432297235691578884,Just finished my first coding bootcamp and it ...,"coding,bootcamp",999999999,MikeDavis,9000,San Francisco,CA,23,25,250,2021-08-31T15:00:00Z
9,1432285089301227521,Just tried the new coffee shop and it was deli...,"coffee,cafe",1111111111,KarenLee,1000,Seattle,WA,29,6,60,2021-08-30T09:00:00Z
10,1432260769680393220,Just finished reading the new Stephen King boo...,"StephenKing,books",2222222222,MarkJohnson,6000,Boston,MA,33,30,300,2021-08-29T22:00:00Z
11,1432248642385147911,Just watched the new sci-fi movie and it was m...,"movies,sci-fi",3333333333,KatieSmith,8000,San Diego,CA,28,20,200,2021-08-28T14:00:00Z
12,1432236482126323714,Just finished my first yoga class and it was a...,"yoga,fitness",4444444444,JohnBrown,2000,Denver,CO,26,8,80,2021-08-27T10:00:00Z
13,1432224364473588740,Just went to the new museum and it was fascina...,"museum,history",5555555555,AshleyLee,4000,Chicago,IL,30,12,120,2021-08-26T16:00:00Z
14,1432212253620650499,Just tried the new ice cream shop and it was d...,"icecream,foodie",6666666666,WilliamDavis,15000,New York,NY,35,40,400,2021-08-25T12:00:00Z
15,1432199971294821891,Just finished my first Spanish lesson and it w...,"Spanish,language",7777777777,ElizabethBrown,3000,Miami,FL,24,10,100,2021-08-24T19:00:00Z
16,1432187870566260742,Just visited the new aquarium and it was so co...,"aquarium,animals",8888888888,MeganSmith,5000,Los Angeles,CA,28,15,150,2021-08-23T15:00:00Z
17,1432175712177859077,Just finished my first photography class and i...,"photography,class",9999999999,AdamJohnson,7000,San Francisco,CA,29,20,200,2021-08-22T11:00:00Z
18,1432163512432027139,Just went to the new amusement park and it was...,"amusementpark,fun",11111111111,LisaKim,9000,Orlando,FL,32,25,250,2021-08-21T18:00:00Z
19,1432151327316874753,Just tried the new sushi restaurant and it was...,"sushi,restaurant",22222222222,KevinLee,12000,San Diego,CA,29,6,60,2021-08-30T09:00:00Z
20,1432139104265747973,Just finished my first coding project and it w...,"coding,programming",33333333333,SarahJohnson,10000,Boston,MA,31,30,300,2021-08-20T14:00:00Z
21,1432126898497597954,Just went to the new rooftop bar and the view ...,"rooftopbar,drinks",44444444444,MichaelDavis,6000,New York,NY,26,20,200,2021-08-19T20:00:00Z
22,1432114656517287938,Just finished my first dance class and it was ...,"dance,fitness",55555555555,AmySmith,4000,Los Angeles,CA,27,10,100,2021-08-18T16:00:00Z
23,1432102468647738883,Just tried the new Thai restaurant and it was ...,"Thai,foodie",66666666666,DavidLee,9000,San Francisco,CA,30,30,300,2021-08-17T12:00:00Z
24,1432090306594480130,Just finished my first meditation session and ...,"meditation,mindfulness",77777777777,JenniferBrown,5000,Chicago,IL,29,15,150,2021-08-16T18:00:00Z
25,1432078121731396610,Just went to the new escape room and it was so...,"escaperoom,games",88888888888,ChristopherKim,8000,Miami,FL,33,20,200,2021-08-15T14:00:00Z
26,1432065925045246979,Just finished my first rock climbing lesson an...,"rockclimbing,sport",99999999999,KarenSmith,7000,Denver,CO,32,25,250,2021-08-14T10:00:00Z
27,1432053695434499586,Just tried the new bakery and it was heavenly!...,"bakery,foodie",111111111111,RyanJohnson,11000,Chicago,IL,28,35,350,2021-08-13T17:00:00Z
28,1432041498377868803,Just went to the new art exhibit and it was in...,"art,exhibit",222222222222,EmilyDavis,3000,San Diego,CA,25,12,120,2021-08-12T13:00:00Z
29,1432029302874238979,Just finished my first woodworking project and...,"woodworking,DIY",333333333333,JamesKim,6000,San,29,20,200,2021-08-22T11:00:00Z,NaN

pandas.core.frame.DataFrame

In [3]:


# Create a user-tweet matrix
user_tweet_matrix = df.pivot_table(index='user_id', columns='tweet_id', values='likes', fill_value=0)

# Calculate cosine similarity between tweets
tweet_similarity = cosine_similarity(user_tweet_matrix.T)

# Create a function to get top recommended tweets
def get_top_tweets(likes, n=5):
    tweet_index = np.where(user_tweet_matrix.columns == likes)[0][0]
    similar_tweets = tweet_similarity[tweet_index]
    similar_tweet_indices = np.argsort(-similar_tweets)[:n]
    return list(user_tweet_matrix.columns[similar_tweet_indices])

# Example usage
top_tweets = get_top_tweets('1432393529610908677', n=3)
print(top_tweets)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [6]:
import pandas as pd

# Read data from CSV
df = pd.read_csv("Data.csv")

# Group by hashtag and location, get total likes and sort by descending order
hashtag_likes = df.groupby("hashtags")["likes"].sum().reset_index().sort_values(by=["likes"], ascending=False)
location_likes = df.groupby("user_location")["likes"].sum().reset_index().sort_values(by=["likes"], ascending=False)

# Print top 5 hashtag and location recommendations by likes
print("Hashtag recommendations by likes:")
print(hashtag_likes.head())
print("\nLocation recommendations by likes:")
print(location_likes.head())

# Combine hashtag and location recommendations
combined_likes = pd.concat([hashtag_likes, location_likes]).groupby(["hashtags", "user_location"])["likes"].sum().reset_index().sort_values(by=["likes"], ascending=False)

# Print top 5 combined recommendations by likes
print("\nCombined recommendations by likes:")
print(combined_likes.head())

Hashtag recommendations by likes:
                hashtags  likes
27       woodworking,DIY    200
19  movies,entertainment     50
17       icecream,foodie     40
7          bakery,foodie     35
2      StephenKing,books     30

Location recommendations by likes:
    user_location  likes
8             San    200
6        New York     88
10  San Francisco     80
4     Los Angeles     75
1         Chicago     72

Combined recommendations by likes:
Empty DataFrame
Columns: [hashtags, user_location, likes]
Index: []

In [7]:
import pandas as pd

# Read data from CSV
df = pd.read_csv("data.csv")

# Group by hashtag and sort by descending order of likes
hashtags = df.groupby("hashtags").apply(lambda x: x.sort_values(["likes"], ascending=False)).reset_index(drop=True)

# Print top 5 tweet recommendations for each hashtag
for hashtag in hashtags["hashtags"].unique():
    print(f"Recommendations for #{hashtag}:")
    print(hashtags.loc[hashtags["hashtags"] == hashtag].head())
    print("\n")

Recommendations for #HarryPotter,books:
              tweet_id                                               text
0  1432393529610908677  Just finished reading the new Harry Potter boo...  \

            hashtags    user_id     user_name  user_followers user_location
0  HarryPotter,books  111111111  EmilyJohnson            8000      New York  \

  user_age  retweets  likes replies            created_at
0       NY        30     20     200  2021-09-08T08:00:00Z


Recommendations for #Spanish,language:
              tweet_id                                               text
1  1432199971294821891  Just finished my first Spanish lesson and it w...  \

           hashtags     user_id       user_name  user_followers user_location
1  Spanish,language  7777777777  ElizabethBrown            3000         Miami  \

  user_age  retweets  likes replies            created_at
1       FL        24     10     100  2021-08-24T19:00:00Z


Recommendations for #StephenKing,books:
              tweet_id                                               text
2  1432260769680393220  Just finished reading the new Stephen King boo...  \

            hashtags     user_id    user_name  user_followers user_location
2  StephenKing,books  2222222222  MarkJohnson            6000        Boston  \

  user_age  retweets  likes replies            created_at
2       MA        33     30     300  2021-08-29T22:00:00Z


Recommendations for #Thai,foodie:
              tweet_id                                               text
3  1432102468647738883  Just tried the new Thai restaurant and it was ...  \

      hashtags      user_id user_name  user_followers  user_location user_age
3  Thai,foodie  66666666666  DavidLee            9000  San Francisco       CA  \

   retweets  likes replies            created_at
3        30     30     300  2021-08-17T12:00:00Z


Recommendations for #amusementpark,fun:
              tweet_id                                               text
4  1432163512432027139  Just went to the new amusement park and it was...  \

            hashtags      user_id user_name  user_followers user_location
4  amusementpark,fun  11111111111   LisaKim            9000       Orlando  \

  user_age  retweets  likes replies            created_at
4       FL        32     25     250  2021-08-21T18:00:00Z


Recommendations for #aquarium,animals:
              tweet_id                                               text
5  1432187870566260742  Just visited the new aquarium and it was so co...  \

           hashtags     user_id   user_name  user_followers user_location
5  aquarium,animals  8888888888  MeganSmith            5000   Los Angeles  \

  user_age  retweets  likes replies            created_at
5       CA        28     15     150  2021-08-23T15:00:00Z


Recommendations for #art,exhibit:
              tweet_id                                               text
6  1432041498377868803  Just went to the new art exhibit and it was in...  \
7  1432333712187568640  Just visited the new art exhibit and it was fa...

      hashtags       user_id   user_name  user_followers user_location
6  art,exhibit  222222222222  EmilyDavis            3000     San Diego  \
7  art,exhibit     666666666    DavidLee            3000      New York

  user_age  retweets  likes replies            created_at
6       CA        25     12     120  2021-08-12T13:00:00Z
7       NY        28      8      80  2021-09-03T14:00:00Z


Recommendations for #bakery,foodie:
              tweet_id                                               text
8  1432053695434499586  Just tried the new bakery and it was heavenly!...  \

        hashtags       user_id    user_name  user_followers user_location
8  bakery,foodie  111111111111  RyanJohnson           11000       Chicago  \

  user_age  retweets  likes replies            created_at
8       IL        28     35     350  2021-08-13T17:00:00Z


Recommendations for #climatechange,documentary:
              tweet_id                                               text
9  1432370087338275846  Just watched the new documentary about climate...  \

                    hashtags    user_id user_name  user_followers
9  climatechange,documentary  333333333   JaneDoe            4000  \

  user_location user_age  retweets  likes replies            created_at
9       Seattle       WA        45     15     100  2021-09-06T12:00:00Z


Recommendations for #coding,bootcamp:
               tweet_id                                               text
10  1432297235691578884  Just finished my first coding bootcamp and it ...  \

           hashtags    user_id  user_name  user_followers  user_location
10  coding,bootcamp  999999999  MikeDavis            9000  San Francisco  \

   user_age  retweets  likes replies            created_at
10       CA        23     25     250  2021-08-31T15:00:00Z


Recommendations for #coding,programming:
               tweet_id                                               text
11  1432139104265747973  Just finished my first coding project and it w...  \

              hashtags      user_id     user_name  user_followers
11  coding,programming  33333333333  SarahJohnson           10000  \

   user_location user_age  retweets  likes replies            created_at
11        Boston       MA        31     30     300  2021-08-20T14:00:00Z


Recommendations for #coffee,cafe:
               tweet_id                                               text
12  1432285089301227521  Just tried the new coffee shop and it was deli...  \

       hashtags     user_id user_name  user_followers user_location user_age
12  coffee,cafe  1111111111  KarenLee            1000       Seattle       WA  \

    retweets  likes replies            created_at
12        29      6      60  2021-08-30T09:00:00Z


Recommendations for #cooking,class:
               tweet_id                                               text
13  1432321492562703873  Just finished my first cooking class and it wa...  \

         hashtags    user_id   user_name  user_followers user_location
13  cooking,class  777777777  ChrisBrown            5000       Houston  \

   user_age  retweets  likes replies            created_at
13       TX        32     12     120  2021-09-02T19:00:00Z


Recommendations for #dance,fitness:
               tweet_id                                               text
14  1432114656517287938  Just finished my first dance class and it was ...  \

         hashtags      user_id user_name  user_followers user_location
14  dance,fitness  55555555555  AmySmith            4000   Los Angeles  \

   user_age  retweets  likes replies            created_at
14       CA        27     10     100  2021-08-18T16:00:00Z


Recommendations for #escaperoom,games:
               tweet_id                                               text
15  1432078121731396610  Just went to the new escape room and it was so...  \

            hashtags      user_id       user_name  user_followers
15  escaperoom,games  88888888888  ChristopherKim            8000  \

   user_location user_age  retweets  likes replies            created_at
15         Miami       FL        33     20     200  2021-08-15T14:00:00Z


Recommendations for #fitness,running:
               tweet_id                                               text
16  1432345806442166274  Just finished my morning run and it was great!...  \

           hashtags    user_id    user_name  user_followers user_location
16  fitness,running  555555555  SaraJohnson            2000       Chicago  \

   user_age  retweets  likes replies            created_at
16       IL        25     10     100  2021-09-04T08:00:00Z


Recommendations for #foodie,restaurant:
               tweet_id                                               text
17  1432382158217831425  Just tried the new restaurant in town and it w...  \

             hashtags    user_id user_name  user_followers  user_location
17  foodie,restaurant  222222222   JohnDoe            6000  San Francisco  \

   user_age  retweets  likes replies            created_at
17       CA        35      5      50  2021-09-07T18:00:00Z


Recommendations for #icecream,foodie:
               tweet_id                                               text
18  1432212253620650499  Just tried the new ice cream shop and it was d...  \

           hashtags     user_id     user_name  user_followers user_location
18  icecream,foodie  6666666666  WilliamDavis           15000      New York  \

   user_age  retweets  likes replies            created_at
18       NY        35     40     400  2021-08-25T12:00:00Z


Recommendations for #meditation,mindfulness:
               tweet_id                                               text
19  1432090306594480130  Just finished my first meditation session and ...  \

                  hashtags      user_id      user_name  user_followers
19  meditation,mindfulness  77777777777  JenniferBrown            5000  \

   user_location user_age  retweets  likes replies            created_at
19       Chicago       IL        29     15     150  2021-08-16T18:00:00Z


Recommendations for #movies,entertainment:
               tweet_id                                               text
20  1432357974648150530  Just saw the new movie and it was amazing! The...  \

                hashtags    user_id user_name  user_followers user_location
20  movies,entertainment  444444444  BobSmith           10000   Los Angeles  \

   user_age  retweets  likes replies            created_at
20       CA        40     50     500  2021-09-05T16:00:00Z


Recommendations for #movies,sci-fi:
               tweet_id                                               text
21  1432248642385147911  Just watched the new sci-fi movie and it was m...  \

         hashtags     user_id   user_name  user_followers user_location
21  movies,sci-fi  3333333333  KatieSmith            8000     San Diego  \

   user_age  retweets  likes replies            created_at
21       CA        28     20     200  2021-08-28T14:00:00Z


Recommendations for #museum,history:
               tweet_id                                               text
22  1432224364473588740  Just went to the new museum and it was fascina...  \

          hashtags     user_id  user_name  user_followers user_location
22  museum,history  5555555555  AshleyLee            4000       Chicago  \

   user_age  retweets  likes replies            created_at
22       IL        30     12     120  2021-08-26T16:00:00Z


Recommendations for #park,nature:
               tweet_id                                               text
23  1432309380679255554  Just went to the new park and it was beautiful...  \

       hashtags    user_id    user_name  user_followers user_location
23  park,nature  888888888  OliviaSmith            7000         Miami  \

   user_age  retweets  likes replies            created_at
23       FL        27     18     180  2021-09-01T11:00:00Z


Recommendations for #photography,class:
               tweet_id                                               text
24  1432175712177859077  Just finished my first photography class and i...  \

             hashtags     user_id    user_name  user_followers  user_location
24  photography,class  9999999999  AdamJohnson            7000  San Francisco  \

   user_age  retweets  likes replies            created_at
24       CA        29     20     200  2021-08-22T11:00:00Z


Recommendations for #rockclimbing,sport:
               tweet_id                                               text
25  1432065925045246979  Just finished my first rock climbing lesson an...  \

              hashtags      user_id   user_name  user_followers user_location
25  rockclimbing,sport  99999999999  KarenSmith            7000        Denver  \

   user_age  retweets  likes replies            created_at
25       CO        32     25     250  2021-08-14T10:00:00Z


Recommendations for #rooftopbar,drinks:
               tweet_id                                               text
26  1432126898497597954  Just went to the new rooftop bar and the view ...  \

             hashtags      user_id     user_name  user_followers
26  rooftopbar,drinks  44444444444  MichaelDavis            6000  \

   user_location user_age  retweets  likes replies            created_at
26      New York       NY        26     20     200  2021-08-19T20:00:00Z


Recommendations for #sushi,restaurant:
               tweet_id                                               text
27  1432151327316874753  Just tried the new sushi restaurant and it was...  \

            hashtags      user_id user_name  user_followers user_location
27  sushi,restaurant  22222222222  KevinLee           12000     San Diego  \

   user_age  retweets  likes replies            created_at
27       CA        29      6      60  2021-08-30T09:00:00Z


Recommendations for #woodworking,DIY:
               tweet_id                                               text
28  1432029302874238979  Just finished my first woodworking project and...  \

           hashtags       user_id user_name  user_followers user_location
28  woodworking,DIY  333333333333  JamesKim            6000           San  \

   user_age  retweets  likes               replies created_at
28       29        20    200  2021-08-22T11:00:00Z        NaN


Recommendations for #yoga,fitness:
               tweet_id                                               text
29  1432236482126323714  Just finished my first yoga class and it was a...  \

        hashtags     user_id  user_name  user_followers user_location
29  yoga,fitness  4444444444  JohnBrown            2000        Denver  \

   user_age  retweets  likes replies            created_at
29       CO        26      8      80  2021-08-27T10:00:00Z